/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2016, 11:31:02 AM
    Author     : ITACHI
*/
*{
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
    font-size:13px;
    background-color:#fdfdfd;
}
.container{
    max-width:1200px;
    margin:20px auto;
    padding:20px;
}
.clearfix{clear:both}
h2{
    text-transform:uppercase;
    text-align:center;
    color:skyblue;
}
.main-header{
    max-width:900px;
    margin:10px auto;
    padding:10px;
}
.user-login{
    float:left;
}
.pagger{
    float:right;
}
.search-row{
    text-align: center;
}
#txt-search{
    width:30%;
    height:25px;
    border:1px solid gray;
    border-radius:5px;
    margin:5px;
    padding-left:5px;
    
}
#btn-search{
    width:10%;
    height:25px;
    border-radius:5px;
    border:none;
    color:#fff;
    background-color:darkorange;
}
.search-row td{
    border-bottom:1px solid #fff;
}
.table-view{
    max-width:900px;
    margin:20px auto;
}
#table-staff{
    width:100%;
}
.table-view tr{
    height:30px;
}
.table-view tr:hover:not(.header-row):not(.footer-row):not(.search-row){
    background-color:#0099ff !important;
    color:#fff !important;
    transition: 0.2s;
}
.table-view tr:hover:not(.header-row):not(.footer-row):not(.search-row) a{
    color:#fff;
    transition: 0.2s;
}
.table-view td{
    padding:0 10px;
}
.table-view a{
    cursor:pointer;
    margin-right:10px;
}
.header-row, .search-row{
    background:skyblue;
    color:#ffffff;
    font-weight:bold;
}
.login-input,.add-input,.update-input{margin:10px 0;}
.login,.add-new,.update{
    max-width:400px;
    margin:0 auto;
}
.login p{
    color:#bd3200;
}
input:not([type="radio"]){
    width:100%;
    height:30px;
}
#btn-login,#btn-addnew,#btn-update{
    color:#ffffff;
    border:none;
    border-radius:5px;
    font-weight:bold;
    background-color:skyblue;
    margin:10px auto;
    text-transform:uppercase;
}
.gender-input{
    float:left;
    margin-right:30px;
}
#addnew-main,#update-main{
    display:none;
    width:100%;
    background-color: rgba(0,0,0,.25);
    top:0;
    left:0;
    right:0;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
}
.add-new,.update{
    background-color:#fff;
    border:5px solid #666;
    padding:20px;
    border-radius:10px;
    margin-top:10px;
}
.addnew-close,.update-close{
    cursor:pointer;
    background-color:#666;
    border-radius:50%;
    padding:5px 10px;
    color:#fff;
}